<!DOCTYPE html>
<lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Music Genre Classificaiton</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static',filename='styles/style.css') }}"
    />
  </head>
  <body>
    <div class="container">

      <img
        id="music-image"
        src="https://th.bing.com/th/id/R.b2146ef8fb4ecde6c98669eabc70d31b?rik=cgsHKbGaHY4fqQ&riu=http%3a%2f%2fclipart-library.com%2fimages_k%2fmusical-notes-png-transparent%2fmusical-notes-png-transparent-11.png&ehk=9UPfMgZc5%2bQw2xLyQGek5zZzqTUs%2fTjCtpxwdzZYDo4%3d&risl=&pid=ImgRaw&r=0"
        alt="Music Notes"
      />


      <h1 id="heading">Music Genre Classification</h1>
      <p id="description">Enter your .wav music file here. It will provide the Genre of the song.<br>Have a look how it works...</p>
      <form action="/" method="POST" enctype="multipart/form-data">
        <input type="file" name="file" id="file-upload" /><br />
        <input type="submit" name="submit" id="file-upload" />
      </form>
      <p style="font-weight: bold;">{{ message }}</p>
    </div>
  </body>
  <script>
      if ( window.history.replaceState ) {
        window.history.replaceState( null, null, window.location.href );
    }
  </script>
</html>
